@model HRIS.General.Model.UserManagement.UserModel
@{
    ViewData["Title"] = "Edit Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Delete", "Users", FormMethod.Post, new { Id = "formEditArea" }))
{
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Create</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-6">
                    <label>Users</label>
                    @Html.TextBoxFor(model => model.username, new { Class = "form-control", disabled = "true" })
                    @Html.HiddenFor(model => model.id, new { Class = "form-control" })
                </div>
                <div class="col-6">
                    <label>Password</label>
                    @Html.TextBoxFor(model => model.password, new { Class = "form-control", disabled = "true" })
                </div>
                <div class="col-6">
                    <label>Role </label>
                    @Html.DropDownListFor(model => model.role_id, ViewBag.ListRole as IEnumerable<SelectListItem>, "Pilih Role", new { Class = "form-control", Placeholder = "", disabled = "true" })
                </div>
                <div class="col-6">
                    <label>Employee </label>
                    @Html.TextBoxFor(model => model.employeeid, new { Class = "form-control", disabled = "true" })
                </div>

            </div>

            <br />
            <div class="row">
                <div class="col-6">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <a href="@Url.Action("Index","Users")" class="btn btn-warning">Cancel</a>
                </div>
            </div>





        </div>
    </div>



}




@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            App.init();
        });
    </script>
}


